.table {
border: 1px solid black;
}
th {
border: 1px solid black;
background: black;
color: white;
text-align: left;
}
a {
font-size: 64px;
color: pink;
text-decoration: underline;
text-transform: uppercase;
}
.butter {
  text-decoration-color: brown;
}
